{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>Edit Student</h2>

    <form action="{{ url_for('student.update') }}" method="POST">

        <div class="form-group">
            <label>Name</label>
            <input
                type="number"
                name="id"
                value="{{ student.id }}"
                hidden
            >
            <input
                type="text"
                name="name"
                value="{{ student.name }}"
                required
            >
        </div>

        <div class="form-group">
            <label>Age</label>
            <input
                type="number"
                name="age"
                value="{{ student.age }}"
                required
            >
        </div>

        <div class="form-group">
            <label>Course</label>
            <input
                type="text"
                name="course"
                value="{{ student.course }}"
                required
            >
        </div>

        <div class="form-group">
            <label>City</label>
            <input
                type="text"
                name="city"
                value="{{ student.city }}"
                required
            >
        </div>

        <button type="submit" class="btn btn-success">
            Update Student
        </button>

        <a
            href="{{ url_for('student.list_students') }}"
            class="btn btn-secondary"
        >
            Cancel
        </a>

    </form>

</div>

{% endblock %}